
GO
ALTER PROCEDURE [dbo].[BCDUAN_Get]

	@CodeDuAn			T_D256,
	@MaKhachHang		T_D256,
	@tu_ngay T_D256,
	@den_ngay T_D256,
	@MaNhanVien		T_D256

/********************************************************************************
--Routine: BCDUAN_Get
--Task: Get record(s) from table BAOCAOCHITIET
--Version: 
--    1.0 Mar 27 2022  2:14PM:    HAINP        Created
********************************************************************************/
AS
BEGIN
--20240325

	DECLARE @SQLString NVARCHAR(MAX)
	SET @SQLString = 'select BAOCAOCHITIET.NHANVIEN_Id as NhanVienId, tblUser.FullName as HoVaTen, '
	SET @SQLString = @SQLString + ' tblChiTietNguoiDung.CAPBAC as CapBac, tblChiTietNguoiDung.CHUCVU as ChucVu, tbldmphongban.[Name] as PhongBan, ' 
	SET @SQLString = @SQLString + ' COALESCE(sum(tronggio),0) as TrongGio, COALESCE(sum(ngoaigio),0) as NgoaiGio, '
	SET @SQLString = @SQLString + ' COALESCE(sum(chiphitronggio),0) as ChiPhiTrongGio, COALESCE(sum(chiphingoaigio),0) as ChiPhiNgoaiGio, COALESCE(sum(tongchiphi),0) as TongChiPhi '
	SET @SQLString = @SQLString + ' from BAOCAOCHITIET '
	SET @SQLString = @SQLString + ' inner join DMDUAN tblDmDuAn on tblDmDuAn.Id = BAOCAOCHITIET.DUAN_Id '
	SET @SQLString = @SQLString + ' inner join GroupWareService.dbo.UserList tblUser on tblUser.Id = BAOCAOCHITIET.NHANVIEN_Id '
	SET @SQLString = @SQLString + ' inner join UserProfile tblChiTietNguoiDung on tblChiTietNguoiDung.Id = tblUser.Id '
	SET @SQLString = @SQLString + ' inner join DMPHONGBAN tbldmphongban on tbldmphongban.Id = tblChiTietNguoiDung.PHONGBAN_Id '
	SET @SQLString = @SQLString + ' where bTrangThaiID=''DAPHEDUYET'' and FORMAT(BAOCAOCHITIET.BNGAYBAOCAO, ''yyyy/MM/dd'') between ''' + @tu_ngay + ''' and ''' + @den_ngay + ''''

	--SET @SQLString = @SQLString + ' and ( BAOCAOCHITIET.NHANVIEN_Id IN  ('
	--SET @SQLString = @SQLString + ' select NHANVIEN_Id from NHANVIENQUANLY where UserId = ''' + @MaNhanVien + ''''
	--SET @SQLString = @SQLString + ' union all select Id from UserProfile where Id = ''' + @MaNhanVien + ''''
	--SET @SQLString = @SQLString + ' union all select UserProfile.Id from PHONGBANQUANLY inner join DMPHONGBAN on DMPHONGBAN.Id = PHONGBANQUANLY.PHONGBAN_Id inner join UserProfile on UserProfile.PHONGBAN_Id = PHONGBANQUANLY.PHONGBAN_Id where PHONGBANQUANLY.UserId = ''' + @MaNhanVien + ''''
	--SET @SQLString = @SQLString + ' )'
	--SET @SQLString = @SQLString + ' or BAOCAOCHITIET.BAM_Id in ('
	--SET @SQLString = @SQLString + ' select NHANVIEN_Id from NHANVIENQUANLY where UserId = ''' + @MaNhanVien + ''''
	--SET @SQLString = @SQLString + ' union all select Id from UserProfile where Id = ''' + @MaNhanVien + ''''
	--SET @SQLString = @SQLString + ' union all select UserProfile.Id from PHONGBANQUANLY inner join DMPHONGBAN on DMPHONGBAN.Id = PHONGBANQUANLY.PHONGBAN_Id inner join UserProfile on UserProfile.PHONGBAN_Id = PHONGBANQUANLY.PHONGBAN_Id where PHONGBANQUANLY.UserId = ''' + @MaNhanVien + ''''
	--SET @SQLString = @SQLString + ' ))'

	--QuachPhu 20230512 Start
	SET @SQLString = @SQLString + ' AND ('
	SET @SQLString = @SQLString + ' BAOCAOCHITIET.NHANVIEN_Id IN (select * from funcDanhSachNhanVienPhongBanQuanLy(''' + @MaNhanVien + '''))'
	SET @SQLString = @SQLString + ' or BAOCAOCHITIET.BAM_Id IN (select * from funcDanhSachNhanVienPhongBanQuanLy(''' + @MaNhanVien + '''))'
	SET @SQLString = @SQLString + ' )'
	--QuachPhu 20230512 End

	IF @CodeDuAn is not null and @CodeDuAn != '' 
	BEGIN
		SET @SQLString = @SQLString + ' and tblDmDuAn.code = ''' + @CodeDuAn + ''''
	END

	IF @MaKhachHang is not null and @MaKhachHang != '' 
	BEGIN
		SET @SQLString = @SQLString + ' and BAOCAOCHITIET.KHACHHANG_Id = ''' + @MaKhachHang + ''''
	END

	
	
	SET @SQLString = @SQLString + ' group by BAOCAOCHITIET.NHANVIEN_Id, tblUser.FullName,tblChiTietNguoiDung.CAPBAC,tblChiTietNguoiDung.CHUCVU,tbldmphongban.[Name]' 

	EXECUTE sp_executesql @SQLString

END
