
GO
ALTER PROCEDURE [dbo].[DMDUAN_GVDTDK_Save]

	@Code						[T_D256] = NULL,	
	@GiaVon						[T_TIEN] = null,
	@DOANHTHUDUKIEN						[T_TIEN] = null,
	@ERROR		T_D256		OUTPUT

AS
BEGIN
--20230831
	BEGIN TRANSACTION
		BEGIN TRY

			update DMDUAN
			set GiaVon = @GiaVon, DOANHTHUDUKIEN = @DOANHTHUDUKIEN
			where Code = @Code
		
			COMMIT TRANSACTION
			RETURN 1
			
		END TRY
		BEGIN CATCH
			SELECT  ERROR_NUMBER() AS ErrorNumber;
			SELECT @ERROR = ERROR_MESSAGE();  
			ROLLBACK TRANSACTION
			RETURN 0
		END CATCH
		
END
