
GO
ALTER PROCEDURE [dbo].[UpdatePassword]
	
	@Id						T_ID,
	@Password				nvarchar(max)	

AS
BEGIN
--20230808
	
	update [GroupWareService].[dbo].[UserList]
	set PasswordHash = @Password
	where Id = @Id

END
