<div class="noselect" style="text-align: center;">
    @*<img src="~/img/logo.png" style="width: 70px; border-radius: 10%;" />*@
    </div>
<h1 style="text-align: center; color: #FFF; font-family: 'Roboto'; padding-top: 10px; letter-spacing: 4px;font-weight:500" class="noselect">Quản lý Voucher</h1>
@*<h1 style="text-align: center; color: #FFF; font-family: 'Roboto'; font-size: 20px; pa-+dding-bottom: 10px;" class="noselect"></h1>*@