<div class="form-group" style="display: flex; justify-content: center;">
    <div style="color: #000000;" class="noselect">
       <a href="" data-i18n-key="LoginForm_Privacy">Chính sách quyền riêng tư - Điều khoản dịch vụ</a>
    </div>
</div>
@*<div class="form-group" style="display: flex; justify-content: center; font-weight: 500;">
    <a href="https://sapiai.com/">Developed by Sapiai JSC</a>
</div>*@