@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Voucher";;
}

<partial name="_header" />
<div class="row">
    <div class="col-md-8" style="background-color:#ffffff; border: 2px solid #ccc;">
        <section style="padding-left: 100px;padding-right: 100px;padding-top: 20px;">
            <form id="account" method="post" onsubmit="return submitForm(this)">
                <h4 style="text-align:center; color:#000000; padding-bottom:10px;" class="noselect" data-i18n-key="LoginForm_Var_ForgotPassword"></h4>
                <input id="DatabaseName" asp-for="Input.Database" type="hidden" />
                <div class="form-group form-login-group">
                    <i class="fa fa-sitemap prefix white-text active"></i>
                    <input id="CompanyCode" asp-for="Input.TK" class="form-control login-textbox" style="text-transform: uppercase;" placeholder="" placeholder-i18n-key="LoginForm_Var_CompanyCode" />
                </div>
                <div class="form-group form-login-group">
                    <i class="fa fa-database prefix white-text active"></i>
                    <select id="Database" class="form-control login-textbox">
                        <option data-i18n-key="LoginForm_Var_DatabaseName" value=""></option>
                    </select>
                </div>                
                <div class="form-group form-login-group">
                    <i class="fa fa-envelope prefix white-text active"></i>
                    <input asp-for="Input.Email" class="form-control login-textbox" placeholder="Email" placeholder-i18n-key="LoginForm_Var_Email" />
                </div>
                <div id="validate-session" class="text-danger">
                    <ul>
                        @foreach (var error in ViewData.ModelState.Where(s => s.Value.Errors.Count != 0).SelectMany(s => s.Value.Errors))
                        {
                            <li data-i18n-key="@error.ErrorMessage"></li>
                        }
                    </ul>
                </div>
                <div class="form-group" style="display: flex; justify-content: center;">
                    <button type="submit" class="btn" style="width:150px; border-radius: 20px;background-color:#1f6485;color:#ffffff;" data-i18n-key="LoginForm_Button_Submit"></button>
                </div>
                <partial name="_privacy" />
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
