@page
@model LogoutModel
@{
    ViewData["Title"] = "Voucher";;
}

<partial name="_header" />
<div class="row">
    <div class="col-md-8" style="background-color:#ffffff; border: 2px solid #ccc;">
        <section style="padding-left: 100px;padding-right: 100px;padding-top: 20px;">
            <h4 style="text-align: center;color:#000000;" class="noselect" data-i18n-key="LoginForm_Var_Logout"></h4>            
            <partial name="_privacy" />
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
