@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Voucher";;
}
<partial name="_header" />
<div class="row">
    <div class="col-md-8" style="background-color:#ffffff; border: 2px solid #ccc;">
        <section style="padding-left: 100px;padding-right: 100px;padding-top: 20px;">
            <form id="account" method="post" onsubmit="return submitForm(this)">
                <h4 style="text-align:center; color:#000000; padding-bottom:10px;" class="noselect" data-i18n-key="LoginForm_Var_ResetPassword"></h4>
                <div class="form-group form-login-group">
                    <i class="fa fa-lock prefix white-text"></i>
                    <input asp-for="Input.Password" class="form-control login-textbox" placeholder="Mật khẩu" placeholder-i18n-key="LoginForm_Var_Password" />
                </div>
                <div class="form-group form-login-group">
                    <i class="fa fa-lock prefix white-text"></i>
                    <input asp-for="Input.ConfirmPassword" class="form-control login-textbox" placeholder="Xác nhận mật khẩu" placeholder-i18n-key="LoginForm_Var_ConfirmPassword" />
                </div>
                <div id="validate-session" class="text-danger">
                    <ul>
                        @foreach (var error in ViewData.ModelState.Where(s => s.Value.Errors.Count != 0).SelectMany(s => s.Value.Errors))
                        {
                            <li data-i18n-key="@error.ErrorMessage"></li>
                        }
                    </ul>
                </div>
                <input asp-for="Input.Code" type="hidden" />
                <input asp-for="Input.Email" type="hidden" />
                <input asp-for="Input.TK" type="hidden" />
                <input asp-for="Input.Database" type="hidden" />
                <div class="form-group" style="display: flex; justify-content: center;">
                    <button type="submit" class="btn" style="width:150px; border-radius: 20px;background-color:#1f6485;color:#ffffff;" data-i18n-key="LoginForm_Button_Submit"></button>
                </div>
                <partial name="_privacy" />
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
