<meta charset="UTF-8">
<div style="font-family: Arial;font-size: 14px; color: #000">
    <table border="0" style="border-collapse: collapse; width: 980px; margin: 0 auto; padding: 0; border: 1px solid #037bb6;">
        <tr>
            <td colspan="3" style="border: 1px solid #0079b5; background: #03124b; height: 50px;">
				
            </td>
        </tr>        
        <tr>
            <td style="width: 775px;border-right: none;">
                <div style="text-align: center; padding: 20px 20px 0px 20px; font-size: 22px; font-weight: bold; color: #DB1709; ">
                    Thông báo đặt lại mật khẩu                
                </div>
                <div style="padding: 20px; font-size: 18px;">
                    <div>
                        Yêu cầu đặt lại mật khẩu đăng nhập Voucher của Quý khách hàng vừa được thực hiện.
                    </div>
                    <div style="padding-top: 10px; font-size: 18px;">
                        Vui lòng truy cập <a style="color: #0379A5; text-decoration: none; font-weight: bold;" href="{Callback}">tại đây</a> để thiết lập lại mật khẩu.
                    </div>
                    <div style="padding-top: 10px; font-size: 18px;">
                        Thông tin cơ sở dữ liệu Voucher:
                    </div>
                    <table style="margin-top: 15px; margin-left: 40px; margin-right: 40px; background: #FBFCFD; width: 95%; font-size: 18px; " class="tb" cellpadding="2" cellspacing="5">
                        <tr>
                            <td style="width: 150px;">Tài khoản</td>
                            <td style="width: 5px; font-weight: bold;"> : </td>
                            <td style="font-weight: bold;">{Account}</td>
                        </tr>
                        <tr>
                            <td style="display: block;">Tên doanh nghiệp</td>
                            <td style="font-weight: bold;"> : </td>
                            <td style="font-weight: bold;">{ClientName}</td>
                        </tr>                        
                    </table>                    
                </div>
                <div style="text-align: center; margin-bottom: 10px; margin-top: 10px; font-style: italic; color: #DB1709; font-size: 22px;">
                    Chúc Quý khách hàng sức khỏe và thành công!
                </div>
            </td>            
        </tr>
        <tr>
            <td>
                
            </td>            
        </tr>
    </table>
</div>